.cell {
    border: 1px solid #555;
    width: 45px;
    height: 45px;
    text-align: center;
}

.small {
    font-size: 18px;
}

.selected {
    background-color: lightskyblue;
}

.possible-move {
    background-color: greenyellow;
}

svg text{
    text-anchor: middle;
}